[2011-01-14 01:50] kputnam opened #1 "Parse failure on "IF(cond)THEN""
The parser incorrectly requires a space before `THEN`.  But PostgreSQL accepts `IF(cond)THEN`, because there's a parenthesis to separate the keyword.

The grammar node that needs to change is `expressiontUntilThen`. There are probably similar bugs in the `expressiontUntil...` nodes.

[2011-01-28 01:38] kputnam opened #2 "Enable combining with rcov"
With large test suites, it would be beneficial to run piggly using rcov to avoid having to run the suite once for PL/pgSQL coverage and another time for the Ruby coverage.

[2011-01-28 08:27] kputnam opened #3 "Remove dependence on ActiveRecord"
We only really need PGConn, but if ActiveRecord is available and part of the test suite, go ahead and use it's active connection.

[2011-08-08 22:38] kputnam opened #4 "Update documentation"
The README file and probably kputnam.github.com/piggly have outdated instructions.

[2011-08-08 22:39] #3 closed, assigned to kputnam

[2011-08-08 22:39] #2 closed, assigned to nobody

[2011-08-10 18:42] lcoldiron opened #5 "TRUNCATE / NOTIFY keywords not supported"
TRUNCATE / NOTIFY keywords do not appear to be supported in the grammar parser.

[2011-08-10 18:44] lcoldiron opened #6 "CASE statement parse issue"
IF (CASE
                WHEN x IS NULL THEN FALSE
                WHEN x = 'abc' THEN FALSE
                ELSE TRUE
      END)
THEN
  RAISE EXCEPTION 'error message';
END IF;

The parser seem to have issues with FALSE. It appears that the parser is assuming there needs to be a assignment that occurs after the FALSE.

[2011-08-10 18:52] lcoldiron opened #7 "FOR-IN-EXECUTE statement not supported"
FOR r IN EXECUTE 'SELECT \* FROM pg_user;'
LOOP
END LOOP;

Appears the FOR-IN-EXECUTE statement is not supported by the grammar parser.

[2011-08-10 18:53] lcoldiron opened #8 "Assignment statement issue"
x TEXT :=E'\002schema\003';

Appears there needs to be a space after the := for the parser to handle this, however Postgres does not require it.

[2011-08-10 18:55] lcoldiron opened #9 "incorrect comment"
piggly/example/run-specs and piggly/example/run-tests has the following comment.

echo "OK, view $EXAMPLE/piggly/reports/index.html"

reports should not be plural.  change to

echo "OK, view $EXAMPLE/piggly/report/index.html"

[2011-08-10 22:04] lcoldiron opened #10 "Unable to trace individual procedure"
Missing require 'set' in the else clause below.

in /piggly/lib/piggly/command/base.rb:69
# @return [Enumerable<SkeletonProcedure>]

def filter(config, index)
  if config.filters.empty?
    index.procedures
  else
    require 'set' # Add this require statement
    config.filters.inject(Set.new){|s, f| s | index.procedures.select(&f) }
  end
end

[2011-08-10 22:05] lcoldiron opened #11 "Issue with strictness and security with tracing procedure"
lib/piggly/dumper/prodcedure.rb around line 50 needs to be modified to work with strictness and security keywords.

before:
      # Returns source SQL function definition statement
      # @return [String]
      def definition(body)
        [%[create or replace function "#{@namespace}"."#{@name}" (#{arguments})],
         %[ #{strictness} #{security} returns #{type} as $**PIGGLY**$],
         body

[2011-08-10 22:08] lcoldiron opened #12 "procedure params name need to be quoted"
Example:
CREATE OR REPLACE FUNCTION public.my_proc(OUT "timestamp" bigint)
  RETURNS SETOF record AS
$BODY$

This function contains a param name that just so happens to also be a type.  If the name is not quoted the traced procedure will not be able to be uploaded to the database.  This issue would most likely occur if there is a space in the name of parameter as well.

[2011-08-10 22:14] lcoldiron opened #13 "table / row return type not supported"
Example:
CREATE OR REPLACE FUNCTION my_schema.my_proc
(
) RETURNS SETOF my_schema.my_table AS $$
BEGIN
   RETURN QUERY
   SELECT \*
   FROM my_schema.my_table;
END;
$$ LANGUAGE plpgsql VOLATILE STRICT SECURITY INVOKER;

Appears the parser is not schema aware in this case.  The return type generated by the trace drops the schema and postgres is unable to find this type in the public schema.

[2011-08-11 05:30] #5 closed, assigned to nobody

[2011-08-11 05:30] #7 closed, assigned to nobody

[2011-08-11 05:30] #9 closed, assigned to kputnam

[2011-08-11 05:30] #12 closed, assigned to kputnam

[2011-08-11 05:30] #13 closed, assigned to nobody

[2011-08-11 06:30] kputnam opened #14 "Highlight code for selected coverage note on TOC"
Luke noted it can be difficult to tell which code is being described by the bottom-right TOC links, and he suggested using JavaScript to highlight the region of code.  Great idea, Luke!

[2011-08-11 06:32] #14 closed, assigned to nobody

[2011-08-11 16:13] #4 closed, assigned to nobody

[2011-08-12 05:01] #10 closed, assigned to nobody

[2011-08-12 05:03] #11 closed, assigned to nobody

[2011-08-12 05:09] lcoldiron opened #17 "Add ability to exclude function(s) from a trace or report"
I'm thinking it might be nice to have an additional command line parameter for trace / untrace / report that would allow you specify a pattern to not include a function or functions in.  For instance, if I want to trace the entire database that is great but if I want to execute a whole schema or function there isn't a way at the moment.  The command line param might take a list of files as well as

[2011-08-12 05:48] lcoldiron opened #18 "Variant of issue #7 FOR-IN-EXECUTE"
CREATE OR REPLACE FUNCTION public.my_func()
RETURNS VOID AS
$BODY$
DECLARE
   schema TEXT = 'pg_catalog';
   r RECORD;
BEGIN
      FOR r IN EXECUTE 'SELECT \* FROM ' || quote_ident(schema) || 'pg_user;'
      LOOP
      END LOOP;
END;
$BODY$
LANGUAGE plpgsql VOLATILE SECURITY DEFINER;

Doesn't seem to like this FOR-IN-EXECUTE statement.

[2011-08-12 06:17] lcoldiron opened #19 "pg_catalog.int does not exist"
/piggly/piggly/lib/piggly/installer.rb:50:in `exec': ERROR:  type "pg_catalog.int" does not exist (PGError)

Error installing traced procedure my_schema.my_proc from /piggly/piggly/3530/piggly/cache/Dumper/6bd1ffffba0c2638792631166a10e1df.plpgsql
    from /piggly/piggly/lib/piggly/installer.rb:50:in `trace'
    from /piggly/piggly/lib/piggly/installer.rb:16:in`install'
    from /piggly/piggly/lib/

[2011-08-12 19:58] lcoldiron opened #20 "Piggly seems to always recompile procedures now"
I might be confused but it seemed like when I ran examples/run-tests that the procedures would only be compiled if there was a detected change.  This no longer seems to be happening and the procedures are always being complied.

[2011-08-12 21:16] lcoldiron opened #21 "Add schema qualification to the piggy index.xml report web page"
The procedures that show up on the report web page are not schema qualified.

[2011-08-12 21:20] #20 closed, assigned to nobody

[2011-08-13 02:07] #21 closed, assigned to kputnam

[2011-08-13 03:03] #8 closed, assigned to kputnam

[2011-08-13 06:11] #17 closed, assigned to kputnam

[2011-09-06 17:51] kputnam opened #22 "Windows compatibility"
Piggly calls `fork` in several places, but this call fails on Windows.  The win32 gem doesn't emulate the call sufficiently, so the best option is to avoid forking on Windows.

[2011-09-13 03:42] #19 closed, assigned to nobody

[2011-09-25 17:24] #18 closed, assigned to kputnam

[2015-11-04 11:44] ash68 opened #23 "invalid multibyte escape"
hi, running "piggly trace" gives me the below error message repeatedly.
is it because i am using $a$ in some postgresql functions?

ProcessQueue running concurrently
/mnt/hgfs/g/kputnam-piggly-7560eb8/lib/piggly/compiler/cache_dir.rb:20: invalid multibyte escape: /[\000-\010\016-\037\177-\300]/
        /mnt/hgfs/g/kputnam-piggly-7560eb8/lib/piggly/compiler/trace_compiler.rb:22:in `compile'

[2015-11-06 07:07] kputnam commented on #23
Thanks for reporting this. It is a bug in my code, not yours. The cause was a regular expression that was intended to match single-byte characters. Since Ruby 1.9, different character encodings are supported, and the regular expression happens to denote invalid combinations of bytes in that case.

This should be fixed now, but I don't have an environment where I can test it (unfortunately the unit

[2016-05-02 21:08] neoel commented on #23
I think its not entirely fixed.

I have a database with some complex queries, not sure the error might be correlated with that.
This is the error I'm getting: https://gist.github.com/neoel/c5d63a4839f6f557487b1639ec4416e9

And here you can find the sql defining the functions:
https://github.com/wolbodo/pms/blob/master/database/db-logic.sql

[2016-05-03 07:44] kputnam commented on #23
I can't reproduce the error, but I definitely see it. If you edit `lib/piggly/parser/parser.rb` and put this as the very first line, does that error about invalid multibyte sequence go away (you may get other errors)?

    # encoding: ASCII-8BIT

[2016-05-18 21:07] neoel opened #24 "Default arguments parse issue?"
Hi, I think (not sure) piggly is working fine. But maybe our SQL is too complex. You can find the sql here: https://github.com/wolbodo/pms/blob/master/database/db-logic.sql

[code]

[2016-05-19 05:55] kputnam commented on #24
Aha, I couldn't reproduce the error from your example but I think it's caused by something I introduced recently, when procedures have zero required arguments.

Easily fixed, but I'll need to you to confirm that it fixed the issue, since you might have a different issue.

[2016-05-19 05:57] kputnam commented on #23
Did this work, @neoel, or did you need any help trying it out?

[2016-05-19 09:49] neoel commented on #23
I think it might have worked, but since I can't run my personal project I'm
not 100% sure

Dexter - DexterLabs.nl

On Thu, May 19, 2016 at 7:57 AM, Kvle Putnam <notifications@github.com>
wrote:

[2016-07-04 15:15] RussellKeane commented on #24
Hi,

I seem to be having the same issue.
I've tried getting and building the latest but I'm on windows and I note there is another outstanding issue around windows (https://github.com/kputnam/piggly/issues/22).

As an alternative I've tried using version 1.2.1 as I'd really like to get piggly running to see if it's something we can use - it looks like it is - but I run into issues with:

I'm not s

[2016-07-04 16:42] RussellKeane commented on #23
Hi,
I get this issue when trying to use v1.2.1.
I'm using ruby 2.1.0 on Windows 7 x64.

I've added the following line:

to the top of the parser.rb file but it makes no difference.
However, adding it to the top of the cache.rb file makes the error go away but results in the "piggly" doing literally nothing.
I can run "piggly hello world" and it doesn't complain at all.

HTH

[2016-07-05 17:30] kputnam commented on #22
@RussellKeane I don't have a Windows machine to develop with, and it's been quite a while since I've worked on this project, so I'm not in a good position to fix this.

If you're willing to contribute a PR that works on Windows, I can check that it still works on UNIX and merge it, and I'll be happy to help you work on this if you're interested. I don't remember where (or why) `fork` is used, but

[2016-07-05 17:33] kputnam commented on #23
Thanks @RussellKeane. I think that might have fixed the encoding issue, but maybe you're not seeing any output due to an issue with `fork` on Windows. I left a comment in #22 about that -- feel free to get in touch by email or just leave a comment if you're interested in helping with that!

[2016-07-12 14:07] dbut023 opened #25 "rake spec test failures"
Ubuntu 12.04.5 (x86_64)
Ruby 2.2.4p230 (x86_64)

Fresh git checkout, `bundle install` ran OK,
`bundle exec rake spec` fails with 3 test failures:

[code]

[2016-10-30 04:45] kputnam commented on #25
I think this was fixed in #26. Please reopen if that's not the case.

[2016-10-30 04:45] #25 closed

[2016-12-28 15:39] RucialK commented on #24
Hi,

After finally getting around to debugging, testing changing and reverting, it looks like the only real issue is the format of the arguments.

Using piggly-2.0.0 I have now successfully run the following commands from the root of the piggly source under windows 7:
[code]

This correctly traces, reports and untraces a test stored procedure. I've yet to test this extensively but it's a promising

[2016-12-28 15:41] RucialK commented on #22
Hi,

I don't think this is an issue (see https://github.com/kputnam/piggly/issues/24)

It seems to be working under windows at the moment.

[2017-01-05 01:54] kputnam commented on #22
OK, thanks for the confirmation!

[2017-01-05 01:54] #22 closed

[2017-01-05 01:58] kputnam commented on #23
@RucialK now that you've fixed the Windows compatibility issue, is this still broken?

[2017-02-05 22:46] cchavez commented on #23
As work around I changed the the file lib/piggly/parser.rb:

line 22: tree = p.parse(input) to tree = p.parse(input.force_encoding("ASCII-8BIT"))
line 26: input.replace(string) to input.replace(string.force_encoding("ASCII-8BIT"))

but now I'm getting an error that it seems to be related to the pg driver:

lib/piggly/installer.rb:52:in `exec': ERROR:  does not exists the type int4[] (PG::Undefined

[2017-02-06 05:17] kputnam commented on #23
@cchavez That seems like a strange error, what version of PostgreSQL are you using? Just to be sure, can you run this (it should work)?

[code]

[2017-02-06 15:06] cchavez commented on #23
That code works find.

Not sure what is the error with my function.

I'm using postgresql 9.5.5. I also updated the pg gem to the latest the pg (0.19.0).

I also got some errors with some void functions, but I tested with the sample you sent me and it works some void function as well.

[2017-02-06 17:40] cchavez commented on #23
I think I found the issue, when the source code is generated is quoting the data types so for example it generate:

create or replace function "public"."actualizaringrfijosdetalleplanilla" ("int4", "int4", "int4", "int4[]")

noticed the "int4" does not bother to prostgresql, but "int4[]" it does not like to postgresql, when I remove the quote and use just int4[] works as expected.

The quote happe

[2017-02-06 17:45] cchavez commented on #23
Other issue I found it was in the parser the following sentence shows an error:

IF (x>0)THEN ....

noticed that there is not blank between the ) and THEN, but that is okay to postgresql.

[2017-02-06 20:24] cchavez commented on #23
Hi any idea about the following error messages when generate the report?

/lib/piggly/profile.rb:25:in `[]': No tag with id 65f387aaca4e7553 (RuntimeError)

[2017-02-06 21:02] kputnam commented on #23
You might need to reset things; that error can happen if the instrumented code running in the database is not in sync with the code piggly thinks is in the database.

I think you can do that with `piggly untrace` to restore the original source code, then move aside any cache files (off the top of my head, I forget where piggly places these), then run `piggly trace` again.

[2017-02-06 22:09] cchavez commented on #23
Right, thanks. I trace again over a fresh database an generate the report repeat the trace and I was able to retrieve the report.

[2017-02-08 21:47] cchavez commented on #23
@kputnam how I can add at the beginning if the generated file "parser.rb" the following:
# encoding: ASCII-8BIT

When I run the command from the source code it works, but when I run the command from the built gem it trows the error:

piggly-2.0.0/lib/piggly/parser/parser.rb:5972:in `initialize': invalid multibyte escape: /\A[a-z\200-\377_]/ (RegexpError)

I think that can be fixed if we add that l

[2017-02-09 02:46] kputnam commented on #23
I think you're right! Try adding it to `lib/piggly/parser/grammar.tt` which is used to generate `parser.rb`. I think changes to `grammar.tt` should automatically regenerate `parser.rb`, but if not, you may need to delete it manually to force it to regenerate.

[2017-04-03 16:15] rtaseen commented on #24
Just wanted to confirm that your commit  "Fix bug when parsing default arguments and none are required (GH-24)" fixed the issue for me.

[2017-04-03 16:22] rtaseen opened #31 "Parser issue - DML in WITH query"
Got the error below.
Initially thought I resolved by placing a space between "--" and "transfer" in the comment "--transfer last to past" but its just that piggly compiles the functions in different orders on different executions, and the error remains.
<strike>Might be due to "%rowtype" datatype</strike>. See below

<pre>C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/piggly-2.0.0/lib/piggly/parser.rb:23:

[2017-04-03 17:00] rtaseen commented on #31
So the problem seems to be the WITH query: virtual relations generated by UPDATE or DELETE don't seem to work.
e.g.
`WITH upd AS( UPDATE foo SET bar = 2 WHERE bar = 1 returning bar ) SELECT bar FROM upd;`
Changing the procedure so that the UPDATE returns into a variable, then subsequently using that variable resolves the issue, although suboptimal.

[2017-07-27 21:00] born-in-brooklyn commented on #31
Hey, running into a similar issue. Was wodering when this might be worked on. As it stands, I'm unable to use piggly against my production code.

[2017-07-28 02:28] kputnam commented on #31
Hi @born-in-brooklyn, if you can provide some sample code that doesn't parse, I could take a look and take a closer look at this issue. I don't recall implementing the parsing grammar for WITH or CTEs, so adding it might be straightforward.

[2017-08-03 23:06] born-in-brooklyn commented on #31
sure! here's the function definition:
[code]

[2017-08-04 19:02] born-in-brooklyn commented on #31
I think the error might be related to the presence of a call to raise warning. strictly speaking these are probably not necessary in order to make the application work, but I would rather not remove them

[2017-08-08 02:06] kputnam commented on #31
Hi @born-in-brooklyn, I'm not able to reproduce this. Did you install it from RubyGems or from source? My guess is the last RubyGems release is outdated (and doesn't support GET STACKED DIAGNOSTICS from #28), so you could try [installing from source](https://github.com/kputnam/piggly#how-to-install).

Let me know if that does or doesn't work! I'll release a new gem once we figure it out.

[2017-08-27 18:15] born-in-brooklyn commented on #31
Hi @kputnam Thanks for this. It took me a while to get around to it, but I was able to test, and the new code you mentioned above certainly helps with the GET STACKED DIAGNOSTICS issue. I was unable to build from source (having windows/ruby problems, and I'm not a terribly adept ruby dev) so I overlayed the changes in the above mentioned PR in the appropriate ruby lib directory, and it worked. I d

[2017-09-07 22:44] kputnam commented on #31
Hi, @born-in-brooklyn, sorry for the delay. It looks like the problem might be that piggly doesn't recognize the argument types are from the `risk` schema instead of the default schema.

I changed `lib/piggly/command/trace.rb` to pretty-print the list of procedures (after I only installed the one you gave).

[code]

Which printed this when running `./bin/piggly trace -t -d config/database.yml`

[c

[2017-09-08 02:26] born-in-brooklyn commented on #31
@kputnam no worries. Thanks for taking the time to research this. I'm sure this will solve a host of issues for me. Coudl you build a new Gem once this fix is done? thanks!

[2017-09-08 02:38] kputnam commented on #31
Ok, looks like the issue was that parameters with array types weren't correctly quoted: it should be `"foo_type"[]` but was `"foo_type[]"`. I also fixed the issue with parameter types' schemas, thought it might have worked without that change. Your example seems to be working now, and I've published a new gem (version 2.1.0).

[2017-09-08 02:45] kputnam commented on #31
Seems I was too quick to publish! I just noticed PostgreSQL complains if `"integer"` is quoted since this is some kind of alias rather than the actual name of the type ("int4"). I'll fix this and publish a new version shortly, 2.2.0.

[2017-09-08 02:58] kputnam commented on #31
Ok, all set now

[2017-09-08 02:58] #31 closed

[2017-09-08 03:05] born-in-brooklyn commented on #31
thank you SO much! Will try first thing tomorrow

[2017-09-13 00:37] kputnam commented on #23
@cchavez, I'm not sure how I missed your remark about `"int4[]"` being incorrectly quoted, but I ran against that issue in #31 and have fixed it.

[2017-09-13 00:39] #24 closed

[2017-09-24 20:39] born-in-brooklyn opened #32 "use of select filter"
Hi,

With the most recent release a technique that I used to use to filter out only certain procedures for running piggly seems to have gotten broken. I used to do something like this:

[code]

and it used to process only those procs. now it seems it only processes the first one. any ideas?

[2017-10-14 04:30] #32 closed

[2017-10-14 04:38] kputnam commented on #32
Hi @born-in-brooklyn, sorry this took a while to address. I think this broke about a year ago in efc196c51c1c941e7fea6d442627561de56becb4, which was my fault for not having tests that would've caught it.

I reverted the code and wrote some tests to specify how `-r` and`-s` work, so you should be all set. (@dbut023, I assumed the intent of your change was to make the code clearer and not to change

[2017-10-14 04:47] kputnam commented on #32
I also published a new gem that includes the fix

[2017-10-14 20:35] born-in-brooklyn commented on #32
No worries for the delay! I'm glad you are continuing to support this. Right now my main goal is to use this to report coverage on a legacy project, so I don't want to analyze everything, just what has already been refactored. I will give it a try and get back to you. Thanks again!

[2017-10-22 13:34] born-in-brooklyn opened #33 "config.dry_run undefined"
seems like config.dry_run was removed. I commented out lines 27-29 in trace.rb:
[code]
and similar code from lines 20-22 in untrace.rb, and lines 29-31 in report.rb.
 to get around this. without doing this, I get the following error:

[code]

[2017-10-22 14:27] born-in-brooklyn opened #34 "issue with table return types"
piggly seems to have problems with procedures that return table types. A procedure with this signature:

[code]

produces a cache index like this:
[code]
piggly trace produces this error:

[code]
It seems like the rewriting is putting one of the table columns in as another input parameter instead of creating a table parameter.

[2017-10-23 06:32] #33 closed

[2017-10-23 06:32] #34 closed

[2017-10-23 06:34] kputnam commented on #33
Thanks, that was a latent bug that seems to have been lurking for a while. Dry run is now working again, at least with `trace` and `untrace`. This was included in a new release, version 2.2.2.

[2017-10-23 06:39] kputnam commented on #34
Thanks for the helpful bug report! I hadn't encountered a stored proc that had `RETURN TABLE(...)` until seeing this, so it just wasn't being handled correctly.

Your example should work now, though I didn't seek out other examples different from yours to ensure it also handled them -- so please feel free to open another ticket with a failing example if you have more! The fix is included in the la

[2017-10-23 14:44] born-in-brooklyn opened #35 "error installing piggly gem on windows"
this doesn't appear to have ill effects (yet) but figured Id report it;

[code]

[2017-10-23 14:51] kputnam commented on #35
Hmm, this [looks like](https://stackoverflow.com/questions/15807535/unable-to-convert-x90-from-ascii-8bit-to-utf-8-for-bin-wkhtmltopdf-linux-386) an issue with code in RubyGems or `rdoc` when generating documentation. If you're willing, can you try `gem update rdoc` and then reinstalling to see if that fixes it?

I don't have access to a Windows machine to check myself. If you don't want to bother

[2017-10-23 15:02] born-in-brooklyn commented on #35
sure

[2017-10-23 15:14] born-in-brooklyn commented on #35
nope, same problem:
[code]

[2017-10-23 15:15] born-in-brooklyn commented on #35
also, the report only seems to produce output for the first 23 stored procedures

[2017-10-23 15:20] #35 closed

[2017-10-23 15:21] kputnam commented on #35
Ok, looks like the stray characters in that JavaScript file weren't important so I've just removed them (it was used to detect currency formats in a table, to sort data numerically). Can you open a separate issue about missing output in the report? I probably will need more details before I can work on that one -- how many procedures did it say were compiled and traced on the console, etc?

[2017-10-23 15:22] born-in-brooklyn commented on #35
yeah, scratch that. I was pumping in bad params :(

[2017-10-23 15:22] kputnam commented on #35
No problem :-)

[2017-10-23 15:23] born-in-brooklyn commented on #35
hang on though, have more bugs concerning procs

[2017-10-23 15:38] born-in-brooklyn commented on #35
and thanks again for your help with this. Is there a way I can support you in this?

[2017-10-23 16:06] kputnam commented on #35
Oh, you're welcome! Submitting bug reports or patches or documentation is enough support for me. Since I rarely use PL/pgSQL (and even Ruby) these days, it's great to get help from others. Thank you for asking :-)

[2017-10-23 18:11] born-in-brooklyn commented on #35
I was referring to donations!

[2017-10-23 18:37] born-in-brooklyn opened #36 "declare statement before begin causes parse failure"
here's the proc that caused the issue (with names changed to protect the innocent) the proc takes in an array of a record type, the unnests it, and joins it to a table, and finally inserts the result into another table, captures the count and reports it in a message

[code]

this results in the following error:

[code]

[2017-10-23 19:16] kputnam commented on #36
It seems #28 only implemented parsing for `GET STACKED DIAGNOSTICS`, not also for `GET DIAGNOSTICS` so this was fairly easy to fix.

[2017-10-23 19:16] #36 closed

[2017-10-23 19:20] kputnam commented on #35
Ah, you are very kind. If you wish, you can make a donation to the Cystic Fibrosis Foundation on my wife's page: http://fightcf.cff.org/goto/shuchi-and-kyle (her page from last year was here fightcf.cff.org/goto/kyle2017).

Best wishes,
-- Kyle

[2017-10-23 21:19] born-in-brooklyn commented on #36
sweet! please build a new gem and I'll give it a try!

[2017-10-23 23:16] kputnam commented on #36
Sorry, forgot to mention that I'd done that earlier. It's published now

[2017-10-24 14:07] born-in-brooklyn commented on #36
Np. Tested it. Looks like all my procs are covered now. Thank you so much! Going to open some issues regarding rules next

[2017-10-24 17:32] born-in-brooklyn opened #37 "for loop with literals violates 'loop always iterates more than once' rule"
in the case of a structure like this:

[code]

piggly reports 'loop always iterates more than once' . this hard coded loop was put there by design, since it is for calculating a thing exactly 4 times. There is no conditional here, so I fail to see the lack of coverage.

[2017-10-24 17:58] born-in-brooklyn opened #38 "failing to capture calls to secondary procedure for perform call"
let's assume for a moment that the following procedure exists:

[code]

let's further assume that a suite of pg_tap tests have been built to test this procedure, These tests overwrite the definitions of the dependent procedures, cat.func_potato_exct_nrmld_score, cat.func_potato_exct_dog_likelihood, cat.func_cmpst_exct_dog_score:

[code]

 This is done in order to isolate the procedure from its dep

[2017-10-24 18:44] kputnam commented on #37
Yes, that is annoying. However, it's difficult to work support for this in, because it's still possible your loop body could exit early (using an `EXIT` statement or an exception). So piggly conservatively assumes any loop is capable of executing 0, 1, or 1+ iterations and records if those happen.

One other approach to handling this (besides trying to analyze the loop body, which is probably a to

[2017-10-24 19:10] born-in-brooklyn commented on #37
understood. no worries.

[2017-10-24 19:16] kputnam commented on #38
Hmm, that might be tricky. What does your coverage report show exactly, and what did you hope it would show instead? I'm guessing it doesn't annotate the line which says `PERFORM ...` with any warning, but it simply doesn't have any reported coverage for `func_potato_exct_nrmld_score`?

On initialization, piggly replaces `func_potato_exct_nrmld_score` with another procedure that emits a `RAISE WAR

[2017-10-24 19:32] kputnam commented on #38
To make my first suggestion more concrete, you could try something like this to save the source code before you replace it with a stub:

[code]

Then something like this to restore the source code, whether it's the version created by piggly or not, whatever it used to be before you stubbed it out:

[code]

Then your tests would look something like:
[code]

[2017-10-24 19:59] kputnam commented on #38
I updated the above comment a few times as I worked out more details of how this would actually work. It seems pretty plausible, you'd only need to decide if you want to store/load the source code in a temp table or to return it as text from `save_source` and take it as a paramater to `restore_source`.

[2017-10-24 20:08] kputnam opened #39 "Replace source using UPDATE pg_proc"
The current method of replacing an existing function with an instrumented uses `CREATE OR REPLACE FUNCTION`. Since we don't save all the metadata like `COST` or other attributes, those can be removed on the instrumented version, and won't be restored with `piggly untrace`. This approach also requires recording parameter names, defaults, and other parts of the function signature so that we can prop

[2017-10-24 20:12] born-in-brooklyn commented on #38
interesting. so, to answer your first question, I'm simply getting 'never evaluated'. I get that the re-written procedure won't have the piggly RAISE WARNING stuff. by itself that's really not an issue. I simply wanted the coverage report to show that the PERFORM line was called. Its not important to test the actual procedure here, since that procedure is tested separately, in isolation. basically

[2017-10-24 20:17] kputnam commented on #39
Related discussion: https://www.postgresql.org/message-id/AANLkTinEsQxbT_DYBUd9qOgh%2BXJNtqF7y3Hse3qsYX0m%40mail.gmail.com

[2017-10-24 20:33] kputnam commented on #38
Ok, that all makes sense. I don't think `PERFORM` or `EXECUTE` are tracked individually, so the 'never evaluated' message probably applies to the entire block of code that your `PERFORM` statement belongs to. Maybe a `BEGIN`/`END` or other block of code that surrounds it.

You could look in `piggly/cache/Trace/*/code` for the instrumented version of your procedure under test to see where the `perf

[2017-10-24 20:38] kputnam commented on #38
Ha, that's a much smarter approach. Sometimes not thinking about this stuff for a long time leads to ridiculous solutions like mine :-)

[2017-11-01 16:33] born-in-brooklyn opened #40 "another parse issue "RAISE {cr} USING""
The error appears to be related to this:

[code]

Here is the unparsable code:

[code]
Here's the error:
[code]

[2017-11-01 23:12] kputnam opened #41 "Improve keyword parsing"
Parser might be simplified by changing each keyword rule to have a negative look-ahead assertion that the next character is not alpha-numeric. This could improve parsing rules for statements like `RAISE;` and `RAISE WARNING;` and `RAISE INFO 'message';` which have complicated whitespace rules (to ensure tokens are separated)

[2017-11-01 23:19] #40 closed

[2017-11-01 23:24] kputnam commented on #40
Thanks, this should be fixed in the latest release (v2.2.4)

[2017-11-01 23:28] kputnam commented on #41
... this is already implemented!

[2017-11-01 23:28] #41 closed

[2018-04-09 15:58] villelahdenvuo opened #42 "ERROR: zero-length delimited identifier at or near """" (PG::SyntaxError)"
I have a function:

[code]

And `piggly trace -s '/cas\./'` outputs:

[code]

Probably because user is a keyword and an identifier?

[2018-04-09 16:54] villelahdenvuo opened #43 "No tag with id X (RuntimeError)"
I made a script to run piggly:

[code]

But it gives me the following error:

[code]

The generated Trace code is:

`BEGIN perform public.piggly_branch($PIGGLY$2a293b29b5a03a84$PIGGLY$);NEW.updated_at = now(); perform public.piggly_branch($PIGGLY$dba45fbf3b18e0d4$PIGGLY$);RETURN NEW; END;`

So it seems like the IDs indeed don't match! The piggly trace output looks suspicious because it's saying Co

[2018-04-10 01:31] kputnam commented on #42
I see `""user""` is double-quoted for some reason. My guess is it came back from a SQL query as `"user"` and then the code that generates SQL added another set of quotes. I'll check into it this week and I expect it's an easy fix. Thanks for reporting it!

[2018-04-10 08:16] villelahdenvuo commented on #43
pg_prove doesn't define any procedures as far as I know. I do have pgTAP installed to the public schema, but they are skipped thanks to the `-s '/cas\./'` selector. I have tried deleting the cache and re-running it without the filtering, but the same problem ensues. I just kept the filtering to reduce the log output for the example.

[2018-04-18 22:16] kputnam commented on #42
Ok, I confirmed that is the problem. Should have a fix pretty quickly!

[2018-04-18 22:32] kputnam commented on #43
Hmm, I can only come up with two theories: maybe somewhere during the process, the current working directory is changed so piggly doesn't find a file that it just wrote that would otherwise indicate a stored procedure was compiled. I haven't looked closely to see if this is possible, but it seems unlikely. Could you confirm that `piggly trace -s '/\.cas/'` alone, without doing steps afterward, pri

[2018-04-18 22:41] #42 closed

[2018-04-19 09:07] villelahdenvuo commented on #43
I will try that and also try to make a minimal repro so you can try it on your machine. 👍

[2018-04-19 09:12] villelahdenvuo commented on #43
Indeed running piggly trace compiles the procedure twice:

[code]

[2018-04-19 10:25] villelahdenvuo commented on #43
@kputnam I made the minimal repro case here:

[code]

You need to have Docker installed, it should work on Mac and probably on Linux, too. Hopefully this can help you debug the problem. If you need any additional information I can try to help you.

[2018-04-19 15:31] villelahdenvuo commented on #43
I was playing with the repro code and I found out something interesting. Whenever I start the container and run the test script it fails, but if I keep running the test script multiple times after some random amount of failures it suddenly starts working! And after that it works every time I run it. Very peculiar!

That is on the first runs it compiles the procedure twice for no apparent reason, b

[2018-04-19 21:07] kputnam commented on #43
Thanks, this is very helpful! Yes, I'm seeing the problem intermittently too. I'll look into it and hopefully fix it soon.

[2018-04-20 03:03] kputnam commented on #43
I'm not sure why this happens yet, but the recompile is caused by the compiler output being older than some of the source files in piggly. This is intentional, so if you upgrade piggly it will force a recompile.

Here's what I see when I added a message to `Piggly::Util::File.stale?`

[code]

I'm going to see if `mtime` is acting unexpectedly since

[2018-04-20 04:49] kputnam commented on #43
Ah, it seems to be Docker-related. Can you try adding `-c /tmp` to each invocation of piggly in `test.sh`? That will make piggly store its compiler outputs in the container (not on a mounted directory that belongs to the host). Here's what I have:

[code]

[2018-04-20 08:27] villelahdenvuo commented on #43
@kputnam Indeed, that fixed it! What a strange issue. I can only mount the reports folder and that should solve the problem. However even if piggly recompiles the procedures, shouldn't it then use the latest tags and just work? Anyway with this information I can make my setup work, thanks a lot for the debugging help!

[2018-04-21 19:02] kputnam commented on #43
Glad it worked! My guess is the second recompile wasn't a problem, but the *third* one that's triggered by `piggly report`, after the coverage has been logged, is the culprit. It probably doesn't even make sense to recompile there, even if something looks stale -- but not doing it potentially creates problems too (newer version of piggly or treetop might not be backward compatible with the parse t

[2018-04-21 19:02] #43 closed

[2018-04-21 19:06] #38 closed

[2018-04-21 19:06] #37 closed

[2019-06-18 15:46] oldmud0 opened #44 "gcov/lcov support"
Hi, I'm very interested in this library, but I would like to integrate it into existing code coverage tools. Is there any way to export the code coverage to an ubiquitous intermediate format, such as gcov, that can be read in by services such as Coveralls?

It seems that I am covering new ground trying to unit-test some PL/pgSQL code that will be used in production.

Thanks in advance.

[2019-06-18 17:17] kputnam commented on #44
That sounds interesting but I'm not aware of all the details of gcov or other formats, so I don't know how much work would be involved. Most likely I won't be able to work on it but would be glad to help you along and accept a PR if you are interested in working on it.

Take a look at https://github.com/kputnam/piggly/blob/master/lib/piggly/command/report.rb to get an idea of how the report data i

[2019-06-25 03:11] oldmud0 commented on #44
Thanks for your fast response.

Unfortunately, I don't have experience with Ruby - I'd be flapping around for a week before I began to do something meaningful. Oh, well, it's not that big of a deal - thanks for your help anyway.

[2019-08-06 03:44] xzilla commented on #39
In case anyone was thinking of implementing things this way, I'll +1 the idea to use pg_get_functiondef. Note it can be difficult to work with, but something like the following should work:
[code]
Note you can adjust or omit the bits of the where clause to get different results back. Hope this helps!

[2020-06-15 20:18] hawicz opened #45 "Functions that declare a non-trivial cursor fail to compile"
A function that looks like this:
[code]

Results in:

On the other hand, changing it to say "... SELECT 1..." instead of "...SELECT *..." works (though of course it's not very useful to have a query that does effectively nothing).

[2020-06-16 19:13] kputnam commented on #45
Thanks for reporting this. I wonder if the repeated `DECLARE` is causing the issue here. Can you try rewriting your example like so?

[code]

If that doesn't work, it looks fixable with minor changes to the [grammar specification](https://github.com/kputnam/piggly/blob/master/lib/piggly/parser/grammar.tt#L273). If you'd like to take a stab at it, I'll be happy to review and merge a PR. Otherwise,

[2020-09-29 14:33] davemurp opened #49 "Failure to parse a file containing bigint"
A function which declares a bigint is throwing an error when executing the trace command.
Env: Docker postgres:12.1-alpine

Extract from problematic function
`CREATE OR REPLACE FUNCTION test.piggly
(
	param1 INT default 0
)
 RETURNS TABLE (
	total_rows bigint
)
...`

And the output showing the error...
`Traceback (most recent call last):
        10: from /usr/bin/piggly:23:in `<main>'
         9:

[2020-09-30 04:41] kputnam commented on #49
It's been a while since I've worked on this, so please bear with me. If you're able to configure postgres to log queries and statements, I think that should give us more info.

From that error message I *think* it was trying to execute `CREATE PROCEDURE piggly.test (....)`. I'm guessing `t "total_rows" "int8"` should actually be `out "total_rows" "int8"`, but like I said it's been a while since I'

[2020-09-30 04:52] kputnam commented on #49
Ah, scratch all that. I think I know what's going on. Sometime after the last release, which was a long time back, postgres added support for `TABLE` arguments to stored procedures. While your procedure returns a table, under the hood I think it looks like an output parameter.

If you are able, do you mind editing [this source file](https://github.com/kputnam/piggly/blob/15ee96a7dca4187b2e2b70b87d

[2020-09-30 17:17] kputnam opened #50 "Improve automated tests"
Since I no longer write PL/pgSQL during the course of my work, it takes me some time to setup a test environment when making changes to this project. Now that Docker is widely used, it makes sense to use it for this purpose. Now that GitHub can execute Docker containers, we can write automated integration tests that talk to an actual PostgreSQL server.

If someone is interested in contributing to

[2020-10-01 13:55] davemurp commented on #49
Hi,

Thank you for getting back to me so quickly. So to set the scene I need to
first of all state I have never worked with ruby before and am struggling
with the dependencies.
I am trying to get this installed on a docker container. 'gem install
piggly' installs fine but throws the error reported.

I've tried building from source but here again I encounter other issues.
The install instructions f

[2020-10-03 05:28] kputnam commented on #49
Our problems are aligned! Because I've been away for so long, I don't have PostgreSQL setup or available to test my changes. Before your reply I created a ticket to remind myself to make a Docker with Ruby, PostgreSQL, and piggly so I can work locally without having to set it all up.

I also think it would make sense to deploy piggly as a Docker image for users. Ideally someone can just do `docker

[2020-10-03 10:58] davemurp commented on #49
From my perspective it is very much a nice-to-have to include postgres code
coverage as I build a new cicd pipeline for our database code, but not
essential. If the tooling becomes available at a later date I can always
add it in then.

I will keep playing around with the docker image and if I happen to stumble
blindly onto a solution I will definitely let you know. Stackoverflow did
point to the

[2022-07-30 00:13] kputnam opened #54 "Make the reports prettier!"
This is an old project, it's meant to be a simple and utilitarian: do one thing and do it okay enough. However the UI has always been ugly, even by 2010 standards.

If anyone out there wants to put a new coat of paint up on the reports, pick better fonts, maybe narrow down the 12 different font sizes to 2-3, make the little "percent complete" indicators look better, I would gladly accept the PR!

[2022-08-22 11:52] gsanjeev432 opened #55 "Support for latest stored procedure syntax"
Stored procedure written using CREATE PROCEDURE are not working. Why trying to trace it gives error - "DETAIL:  "total_score" is a procedure."
1. Is there anyone facing the same error?
2. Do we have support for this in piggly or does it only supports CREATE FUNCTION?